{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}


<section>
  <form method="post" class="login">
    <h1>Search</h1>
    {% csrf_token %}
    {{form.title}}
    <button type="submit" class="btn submit" action="{% url 'search'%}">Search</button>
  </form> 
  <h1>results</h1>
  <div>
    {% for art_data in list_data %}
    <img src="{{art_data.image}}" alt="">
    <h3>{{art_data.title}}</h3>
    <p>{{art_data.artist}}</p>
    <p>{{art_data.country}}</p>
    <p>{{art_data.year}}</p>
    <form method="post" class="">
      {% csrf_token %}
      
      <button type="submit" class="btn submit">Add to Gallery</button>
    </form>
    {% endfor %}
  </div>
</section>



{% endblock %}