{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/art-index.css' %}"/>
{% endblock %}

{% block content %}


<section class='met-section'>
  <h1>COLLECTION</h1>
  <div class='met-container'>
    {% if artwork %}
    {% for art in artwork %} 
    <div class='met-img'>
      <a href="{% url 'art_detail' art.id %}">
        <img src="{{art.image}}" alt="">
        <h3>{{art.title}}</h3>
        <p>{{art.artist}}</p>
        <p>{{art.country}}</p>
        <p>{{art.year}}</p>
      </a>
    </div>
      {% endfor %}
      {% else %}
    <h3>No results</h3>
    {% endif %}
  </div> 
</section>



{% endblock %}