{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}


<section>
  <h1>results</h1>
  <div>
    {% if artwork %}
    {% for art in artwork %} 
    <div>
        <img src="{{art.image}}" alt="">
        <h3>{{art.title}}</h3>
        <p>{{art.artist}}</p>
        <p>{{art.country}}</p>
        <p>{{art.year}}</p>
    </div>
      {% endfor %}
      {% else %}
    <h3>No results</h3>
    {% endif %}
  </div> 
</section>



{% endblock %}