{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static '' %}"
  >
  <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
  <title>Galleria</title>
  {% block head %}
  {% endblock %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li class="title"><a class="main-title" href="/">GALLERIA</a></li>
        {% if user.is_authenticated %}
        <li><a href="">Create Gallery</a></li>
        <li><a href="/galleries">All Galleries</a></li>
        <li><a href="">My Galleries</a></li>
        <li><a href="">Artwork</a></li>
        {% else %}
            <li><a href="{% url 'home' %}">Login</a></li>
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
          {% endif %}
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>