{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>
{% endblock %}

{% block content %}

{% if not user.is_authenticated %}
<section>
  <div class='large-text-login'>
    <h1>GALLERIA</h1>
  </div>
  <form action="{% url 'home' %}" method="post" class="login">
    <h1>Login</h1>
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}">
    <button type="submit" class="btn submit">Login</button>
  </form>
</section>
{% else %}
<section class="landing">
  <div class='large-text'>
    <h1>GALLERIA</h1>
  </div>
  <div class='large-img'>
    <img src="static/images/europeana.jpeg" alt=""
    class='usr-img'>
  </div>
</section>
{% endif %}


{% endblock %}